@tailwind base;
@tailwind components;
@tailwind utilities;
nav {
  background-color: black; /* Fond noir pour la barre de navigation */
}

a {
  position: relative; /* Position relative pour les effets */
  display: inline-block; /* Pour que l'effet de fond fonctionne */
}

a:hover {
  color: transparent; /* Cache le texte normal */
  background: linear-gradient(
    45deg,
    #ffd700,
    #b62cd5
  ); /* Dégradé de couleur pour l'effet */
  -webkit-background-clip: text; /* Clip de fond pour le texte */
  background-clip: text; /* Clip de fond pour le texte */
}

a:hover::after {
  transform: scaleX(1); /* Affiche le soulignement au survol */
}
